/* line 3, ../../resources/assets/sass/phrasesbato.scss */
html body nav {
  background-color: #117D8B !important;
}
/* line 6, ../../resources/assets/sass/phrasesbato.scss */
html body .parallax-container {
  height: 270px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 14, ../../resources/assets/sass/phrasesbato.scss */
html body .container .row form .center {
  margin-bottom: 50px;
}
/* line 16, ../../resources/assets/sass/phrasesbato.scss */
html body .container .row form .center .btn {
  background-color: #0D0F0E !important;
}
/* line 18, ../../resources/assets/sass/phrasesbato.scss */
html body .container .row form .center .btn:hover {
  background-color: #117D8B !important;
}
/* line 25, ../../resources/assets/sass/phrasesbato.scss */
html body .container .row .col .card {
  background-color: #f4f4f4 !important;
  border-radius: 0px;
  box-shadow: none;
}
/* line 29, ../../resources/assets/sass/phrasesbato.scss */
html body .container .row .col .card .card-content {
  color: black !important;
  border-radius: 0px;
}
/* line 41, ../../resources/assets/sass/phrasesbato.scss */
html body #modalCo .modal-content form .center .btn {
  background-color: #0D0F0E !important;
}
/* line 43, ../../resources/assets/sass/phrasesbato.scss */
html body #modalCo .modal-content form .center .btn:hover {
  background-color: #117D8B !important;
}
/* line 51, ../../resources/assets/sass/phrasesbato.scss */
html body footer {
  background-color: #117D8B !important;
}
